html, body{
	margin:0;
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background: #FFf;
}
body a {
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
@font-face {
   font-family: 'Righteous-Regular';
   src: url(../fonts/Righteous-Regular.ttf)format('truetype');
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 28px;
	right: 1%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/arr.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
}
/*-- //to-top --*/
/*-- Slider Part starts Here --*/
#slider3,#slider4  {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
  	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 61%;
	left: 0;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 62px;
	width: 45px;
	margin-top: -65px;
}
.callbacks_nav:active {
  opacity: 1.0;
}
a.callbacks_nav.callbacks1_nav.prev {
	background: transparent url("../images/themes.png") no-repeat 0px 0px;
  left: -3.1%;
}
.callbacks_nav.next {
	background: transparent url("../images/themes.png") no-repeat -46px 0px;
  left: 100%;
}
#slider3-pager a,#slider4-pager a  {
  display: inline-block;
}
#slider3-pager span,#slider4-pager span{
}
#slider3-pager span,#slider4-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a ,#slider4-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a ,#slider4-pager a {
  padding: 0;
}
#slider3-pager li, #slider4-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
}

.callbacks_tabs{
	list-style: none;
	position: absolute;
	top: 111%;
	z-index: 999;
	left: 56%;
	padding: 0;
	margin: 0;
}
ul.callbacks_tabs.callbacks2_tabs {
top: 73%;
left:46%;
}
.slider-top{
	text-align: center;
	padding:10em 0;
}
.slider-top h1{
	font-weight:700;
	font-size:48px;
	color:#010101;
}
.slider-top p{
	font-weight:400;
	font-size:20px;
	padding:1em 7em;
	color:#010101;
}
.slider-top ul.social-slide{
	display:inline-flex;
	margin: 0px;
	padding: 0px;
}
ul.social-slide li i{
	width:70px;
	height:74px;
	background:url(../images/img-resources.png)no-repeat;
	display: inline-block;
	margin:0px 15px;
}
ul.social-slide li i.win{
	background-position:-6px 0px;
}
ul.social-slide li i.android{
	background-position:-110px 0px;
}
ul.social-slide li i.mac{
	background-position:-215px 0px;
}
.callbacks_tabs li{
  margin-left: 5px;
	display: inline-block;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}

.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  width: 80px;
  height: 7px;
  display:inline-block;
  background: #fff;
}
.callbacks_here a:after{
	background: #F896A9;	
}
a.callbacks_nav.callbacks2_nav.prev {
background: transparent url("../images/2.png") no-repeat left top;
width:23px;
height:23px;
}
a.callbacks_nav.callbacks2_nav.next{
background: transparent url("../images/2.png") no-repeat -29px 0px;
width:23px;
height:23px;
}
a.callbacks_nav.callbacks2_nav.prev {
left: 86% !important;
top: 9%;
}
a.callbacks_nav.callbacks2_nav.next {
right: 0% !important;
top: 9%;
}
/*-- Slider part Ends Here --*/
/* Rectangle Out */
a.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
background:#F896A9;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
a.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
background: #000;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
a.hvr-rectangle-out:hover,a.hvr-rectangle-out:focus,a.hvr-rectangle-out:active {
color:#ffffff;
}
a.hvr-rectangle-out:hover:before,a.hvr-rectangle-out:focus:before,a.hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/*-- header --*/
.header-top{
background:#000;
padding:16px 0;
}
.header-top-left {
  float: left;
  width: 30%;
}
.header-top-mid {
    float: left;
    width: 38%;
    text-align: center;
}
.header-top-right {
  float: right;
}
.header-top-right ul li {
margin-left:5px;
  list-style-type: none;
  display: inline-block;
}
.header-top-right ul li a{
width:24px;
height:24px;
display:block;
}
.header-top-right ul li a.f1{
background: url(../images/img-sprite.png) no-repeat 0px 0px;
}
.header-top-right ul li a.f2{
background: url(../images/img-sprite.png) no-repeat -26px 0px;
}
.header-top-right ul li a.f3{
background: url(../images/img-sprite.png) no-repeat -52px 0px;
}
.header-top-right ul li a.f4{
background: url(../images/img-sprite.png) no-repeat -78px 0px;
}
.header-top-right ul li a.f1:hover{
background: url(../images/img-sprite-hover.png) no-repeat 0px 0px;
    transform: rotateZ(360deg);
}
.header-top-right ul li a.f2:hover{
background: url(../images/img-sprite-hover.png) no-repeat -26px 0px;
    transform: rotateZ(360deg);
}
.header-top-right ul li a.f3:hover{
background: url(../images/img-sprite-hover.png) no-repeat -52px 0px;
    transform: rotateZ(360deg);
}
.header-top-right ul li a.f4:hover{
background: url(../images/img-sprite-hover.png) no-repeat -78px 0px;
    transform: rotateZ(360deg);
}
.header-top-left p {
color: #fff;
font-size: 14px;
}
.header-top-mid p{
    display: inline-block;
    font-size: 14px;
    color: #fff;
    top: 0;
	margin-left:10px;
}
.header-top-mid span {
    color: #fff;
    top: 0;
}
.header-top-right ul {
    height: 24px;
}
/*-- //header --*/
/*-- navigation --*/
	/*-- menu --*/
	.navigation span{
		display:none;
		}
	/*-- //menu --*/

.navigation ul{
	padding:0;
	margin:0;
	text-align:center;
	}
.navigation ul li{
	display:inline-block;
	}
.navigation ul li a {
   font-family: 'Righteous-Regular';
	color: #020202;
	margin: 0px 22px;
	font-size: 17px;
	text-decoration: none;
    padding: 0 0 10px 0;
	}
.navigation ul li a:hover,.navigation ul li a.active{
    color: #F896A9;
}
.navigation ul li:nth-child(4) {
  margin-left: 0;
}
.navigation ul li:nth-child(3){
margin-right:310px;
}


/* Overline From Center */
a.hvr-overline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
a.hvr-overline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #F896A9;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
a.hvr-overline-from-center:hover:before,a.hvr-overline-from-center:focus:before,a.hvr-overline-from-center:active:before {
  left: 0;
  right: 0;
}
.strip {
    background: url(../images/top-line.png) repeat-x;
    height: 7px;
    margin-top: -5px;
}
/*-- banner --*/
.banner{
background: url(../images/banner1.jpg) no-repeat 0px 0px;
background-size:cover;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;
min-height: 730px;
}
.banner-info h3 {
   font-family: 'Righteous-Regular';
font-size: 70px;
color: #F896A9;
}
.banner-info h4 {
color: #fff;
margin: 25px 0;
font-size: 26px;
}
.banner-info {
width: 43%;
float:right;
margin-top: 182px;
}
.banner-info a{
  font-size: 16px;
padding:10px 15px;
color:#000;
}
.banner-info p {
line-height: 2em;
color: #000;
font-size: 14px;
margin-bottom: 30px;
}
/*-- //banner --*/
/*-- welcome --*/
 .welcome,.specials,.events-bottom,.blog-section,.typrography,.contact ,.services ,.ser-first,.facilities,.about,.advantages,.team{
 padding:80px 0;
 }
h3.tittle{
margin-bottom: 45px;
font-size:36px;
   font-family: 'Righteous-Regular';
color: #000;
text-align:center;
text-transform:uppercase;
}
.welcome-head p{
  margin: 23px 0 0px 0;
  font-size: 14px;
  color: #464646;
  text-align: center;
  line-height: 2em;
}
.welcome-head h4 {
   font-family: 'Righteous-Regular';
    color: #F896A9;
    font-size: 22px;
    text-align: center;
    margin-top: 32px;
}
.wel-img img{
width:100%;
}
.wel-img {
width:68%;
margin:0 auto;
}

a.mask {
  text-decoration: none;
  overflow: hidden;
  display: block;
}
img.zoom-img {
  -webkit-transform:scale(1, 1);
  -webkit-transition-timing-function:ease-out;
  -webkit-transition-duration:500ms;
  -moz-transform:scale(1, 1);
  -moz-transition-timing-function:ease-out;
  -moz-transition-duration:500ms;
}
img.zoom-img:hover {
  -webkit-transform: rotate(3deg) scale(1.18);
  -webkit-transition-timing-function:ease-out;
  -webkit-transition-duration:750ms;
  -moz-transform:scale(1.18);
  -moz-transition-timing-function:ease-out;
  -moz-transition-duration:750ms;
  overflow: hidden;
}
/*-- //welcome --*/
/*-- specials --*/
.specials{
background:#F896A9;
}
h3.tittle.t-two {
    color: #fff;
}
.special-left img{
width:100%;
}
.special-left,.special-right,.special-left img {
min-height: 246px;
padding:0;
}
.special-right{
background:#fff;
    padding: 23px 35px 0 35px;
}
.special-right h4{
    line-height: 1.5em;
    font-size: 22px;
   font-family: 'Righteous-Regular';
    color: #000;
}
.special-right p {
    margin: 20px 0 0px 0;
    font-size: 14px;
    color: #464646;
    line-height: 2em;
	}

/*-- //specials --*/
.events-bottom{
background:#f9f9f9;
}
.events-left img {
    width: 100%;
}
.services-bottom-grd-left{
position:relative;
float:left;
width:20%;
}
.services-bottom-grd-right{
float:right;
width:75%;
}
.services-bottom-grd-left img{
width:100%;
}
.time-service {
    position: absolute;
    top: 41%;
    left: 14%;
}
.time-service p {
    color: #000;
    font-size: 22px;
    font-family: 'Righteous-Regular';
}
.services-bottom-grd-right h4 {
   font-family: 'Righteous-Regular';
    color: #F896A9;
    text-transform: uppercase;
    line-height: 1.5em;
    font-size: 22px;
}
.services-bottom-grd-right p{
    margin: 13px 0 0px 0;
    font-size: 14px;
    color: #464646;
    line-height: 2em;
}
.events-right-gds:nth-child(2) {
    margin: 30px 0;
}
.l-grids figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	width:100%;
}
.l-grids figure img {
	position: relative;
	display: block;
}

.l-grids figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.l-grids figure figcaption::before,
.l-grids figure figcaption::after {
}

.l-grids figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
figure.effect-bubba {
	  background-color:#fff;
}
figure.effect-bubba:hover img {
	opacity: 0.6;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h4 {
	padding-top: 6%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
	opacity:0;
	padding-bottom: 0;
}

figure.effect-bubba p {
	padding: 0px 1em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h4,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.special-left h4{
    font-size: 30px;
   font-family: 'Righteous-Regular';
    color: #000;
}
.special-left p{
    margin: 20px 0 0px 0;
    font-size: 14px;
    color: #464646;
    line-height: 2em;
}
/*-- footer --*/
.footer-grid input[type="email"] {
  background:#fff;
  border: none;
  width: 81%;
  outline: none;
  padding: 11px 10px 9px 10px;
  font-size: 13px;
  color: #c4c4c4;
}
.footer-grid form input[type="submit"]{
  background: url(../images/message.png) no-repeat 2px 9px #ffffff;
  width: 44px;
  height: 38px;
  border: none;
  margin: 0 0 0 -4px;
  padding:0;
	}
.footer{
background: #F896A9;
padding:50px 0;
}
.footer-grid h4{
margin:0 0 30px 0;
font-size:22px;
color:#fff;
   font-family: 'Righteous-Regular';
}
.footer-grid h2{
  margin: 30px 0 0px 0;
  font-size: 40px;
  color: #fff;
   font-family: 'Righteous-Regular';
}
.footer-grid h2 a{
color: #fff;
text-decoration:none;
}
.footer-grid h2 a:hover{
color: #fff;
}
.footer-grid ul {
margin:0;
padding:0;
}
.footer-grid ul li{
list-style-type:none;
font-size:14px;
color:#464646;
line-height:2em;
}
.footer-grid ul li a{
text-decoration:none;
color:#464646;
}
.footer-grid ul li a:hover{
color:#fff;
}
.copy-right{
background:#464646;
padding:22px 0;
}
.copy-right p{
text-align:center;
margin:0 0 0px 0;
font-size:14px;
color:#fff;
}
.copy-right p a{
text-decoration:none;
color:#fff;
}
.copy-right p a:hover{
color:#F896A9;
}
.strip1 {
    background: url(../images/top-line1.png) repeat-x;
    height: 7px;
    margin-top: -5px;
}
.banner.page-head {
    min-height: 160px;
}
/*-- //footer --*/
/*-- blog --*/
.blog-post-grids h3{
	margin:0 0 2em;
	}
.blog-post{
	border:1px solid #eaeaea;
	position:relative;
	}
.blog-post img{
	width:100%;
	}
.text{
	position:absolute;
    top: 37.1%;
	left:0%;
	}
.text a{
text-decoration:none;
	font-size: 14px;
	color: #fff;
    padding: 9px 20px;
	background:#F896A9;
	}

.blog-post p.erat{
	margin: 0;
    font-size: 14px;
    color: #464646;
    line-height: 2em;
    padding: 10px 0 18px;
	}
	.admin-tag {
 	 padding: 1em;
	}
	.admin-tag1 {
 	 padding: 0em;
	}
	.admin-tag1 p a {
 	 color: #F896A9;
	}
	.admin-tag p a {
 	 color: #F896A9;
	}
	.sing-img-text1 h3 {
	  margin-bottom: 0 !important;
	}
.blog-post:nth-child(3){
	margin:0 0 1.5em;
	}
.blog-post:nth-child(1){
	margin:0 0 25px;
	}
.blog-post:nth-child(4){
	margin:0 0 1.5em;
	}
	.admin-tag p a:hover {
	  text-decoration: none;
	}
.blog-pagenat ul li a {
  display: block;
  background: #fff;
  padding: 8px 1.1em;
  font-size: 0.9em;
  text-transform: uppercase;
  color:#FCB2B2;
  font-weight: 400;
  display: inline-block;
  margin-top: 1em;
  text-decoration: none;
  border: 1px solid #eee;
}
.blog-pagenat ul li a:hover {
  background:#53d0c6;
  color:#fff;
}
.blog-pagenat {
  text-align: center;
  margin-top:3em;
}
.blog-pagenat ul li {
  display: inline-block;
  list-style:none;
}
.blog-pagenat ul li a {
  display: block;
  background: #fff;
  padding: 8px 1.1em;
  font-size: 0.9em;
  text-transform: uppercase;
  color:#242a2c;
  font-weight: 400;
  display: inline-block;
  margin-top: 1em;
  text-decoration: none;
  border: 1px solid #eaeaea;
}
.blog-pagenat ul li a:hover {
   background-color:#F896A9;
  color:#fff;
  border: 1px solid #eaeaea;
}
.admin-tag p {
  color: #ababab;
    font-size: 14px;
}
a.button-more{
font-size:14px;
padding: 6px 18px;
color:#fff;
}
/*-- //blog --*/
/*-- single --*/
.single {
  background: #fff;
  margin: 2em 0 0;
}
p.est{
    margin: 17px 0 64px;
    color: #464646;
    font-size: 14px;
    line-height: 2em;
}
h3.commant {
  padding-bottom: 1em;
}
p.est span{
	display:block;
	margin:1em 0;
}
.sing-img-text1{
	padding:1em 0 2em 0;
}
.media-body h4{
    color: #000;
    font-size: 18px;
    margin: 8px 0 8px;
    padding: 0;
}
.media-body a{
	font-size: 14px;
    color: #000000;
    text-decoration: none;
    display: block;
    float: right;
}
.media-body a:hover{
	color:#F896A9;
	text-decoration:none;
}
.media-body p{
    margin: 8px 0 0;
    color: #464646;
    font-size: 14px;
    line-height: 2em;
}
.leave-a-comment{
	background:#fff;
	padding:0 1em;
}
.leave-a-comment input[type="text"],.leave-a-comment textarea{
    padding: 9px 15px;
    background: none;
    font-size: 14px;
    outline: none;
    border: 1px solid #D2D2D2;
    color: #F896A9;
	}
.leave-a-comment input[type="text"]{
	float:left;
	width:32%;
	font-family: 'Open Sans', sans-serif;
	}
.leave-a-comment textarea{
	resize:none;
	height:200px;
	width:100%;
    margin: 25px 0;
	font-family: 'Open Sans', sans-serif;
	}
.leave-a-comment input[type="submit"]{
    color: #fff;
    font-size: 18px;
	text-transform:uppercase;
    outline: none;
    border: none;
    display: block;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    padding: 9px 18px;;
    background: #000;
	
	}
.leave-a-comment input[type="submit"]:hover{
	background:#F896A9;
	color:#fff;
	text-decoration:none;
	}
.leave-a-comment input[type="text"]:nth-child(2){
	    margin: 0 1.9%;
	}
.media-left {
  width: 10%;
}
.media-left a img {
  border-radius: 50%;
    -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
}
.search11 input[type="text"] {
  border:1px solid #DADCDF;
  outline: none;
  width: 100%;
  background:none;
  color: #E4E4E4;
  padding: 10px;
  font-size: 15px;
}
.search11 h3 {
  margin-bottom: 0 !important;
}
.search11 input[type="submit"] {
    background: #242a2c;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    transition: .5s all;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    border: none;
    outline: none;
    padding: 7px 19px;
    margin: 20px 0 0 0;
}
.categories {
    margin-top: 2em;
}
.search11 input[type="submit"]:hover{
	background:#F896A9;
	color:#fff ;
}
.search11 h3{
    color: #F896A9;
    font-size: 22px;
    text-transform: uppercase;
   font-family: 'Righteous-Regular';
    padding-bottom: 18px;
}
.categories ul {
  padding: 0;
  margin: 0;
}
.categories ul li {
    list-style-type: none;
    background: url(../images/icon3.png) no-repeat 0px 9px;
    display: block;
    padding-left: 25px;
    line-height: 2.2em;
    color: #464646;
}
.categories h3 {
  margin-bottom: 0em !important;
  padding-bottom: 0;
}
.categories ul li a {
    color: #464646;
    font-size: 14px;
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.categories ul li a:hover{
	text-decoration:none;
	color:#F896A9;
	padding-left:7px;
	  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.categories-mid {
    margin: 3em 0;
}
.sing-img-text{
	float:left;
	width:65%;
}
.sing-img-text-left{
	float:right;
	width:33%;
}
.media-left span.glyphicon.glyphicon-user {
    font-size: 25px;
    color: #fff;
    padding: 17px;
    background-color: #eee;
    border-radius: 50%;
}
.categories h3,.search h3,.related-posts h3,.leave-a-comment h3,.sing-img-text h3 {
    color: #F896A9;
    font-size: 22px;
    text-transform: uppercase;
   font-family: 'Righteous-Regular';
    padding-bottom: 18px;
}
.related-post-left{
	float:left;
	width:30%;
}
.related-post-right{
	float:right;
	width:65%;
}
.related-post-right h4 {
  margin: 0;
  padding: 0;
}
.related-posts h3{
	margin-bottom:1em!important;
}
.related-post{
	margin:2em 0;
}
.related-posts h3 {
  margin-bottom: 0em!important;
  padding-bottom: 0;
}

.advantages-left h2 {
  font-size: 1.8em;
}
.advantages-left.heading {
  margin-top: 3em;
}
.related-post-right h4{
	margin:0 0 .35em;
}
.related-post-right h4 a{
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
}
.related-post-right h4 a:hover{
	text-decoration:none;
	color:#F896A9;
}
.related-post-right p {
    margin: 0;
    color: #464646;
    font-size: 14px;
    line-height: 2em;
}
.admin-tag1 p {
    font-size: 14px;
    color: #464646;
}
/*-- //single-page --*/
/*--trypography--*/
.grid_4{
	background:#fff;
	padding:0em 0em 0em 0em;
}  
.grid_5{
	background:#fff;
	padding:1em 0 2em 0;
}

.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.8em;
  color: #999;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
h4.typ1{
	margin-bottom:15px;
}
h5.typ1{
	margin-bottom:15px;
}
.progress {
  height: 8px;
  box-shadow: none;
}
.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #eeeeee;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #03a9f4;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress-bar {
  box-shadow: none;
}
.progress-bar-primary {
  background-color: #03a9f4;
}
.progress-bar-info {
  background-color: #00bcd4;
}
.progress-bar-success {
  background-color: #8bc34a;
}
.progress-bar-warning {
  background-color: #ffc107;
}
.progress-bar-danger {
  background-color: #e51c23;
}
.progress-bar-inverse {
  background-color: #757575;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color:#5bb2fc !important;
  border-color:#5bb2fc !important;
}
.grid_3 p,.page-header p {
  color: #888;
  font-size: 14px;
  line-height:2em;
  margin-bottom: 1em;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.breadcrumb li{
	font-size:0.85em;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
h3.bars {
  margin-bottom: 0.8em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
ol {
  margin-bottom: 44px;
}
.list-group {
  margin-bottom: 48px;
}
.input-group {
  margin-bottom: 20px;
}
/*--//trypography--*/
/*-- contact-page --*/

.contact-form {
	margin-bottom: 3.5em;
    margin-top: 1em;
}

p.your-para {
  color: #464646;
  font-size: 16px;
  margin: 0 0 10px 0;
}
.contact-grid input[type="text"], .contact-grid textarea {
  width: 100%;
  padding: 10px 10px;
  margin: 0 0 20px 0;
  background: #fff;
  font-size: 14px;
  outline: none;
  border: 1px solid #DADADA;
  -webkit-appearance: none;
}
.contact-grid textarea {
  resize: none;
  min-height:180px;
}
.contact-in h4{
  color: #F896A9;
  font-size: 22px;
  margin: 0 0 15px 0;
  line-height: 1.5em;
  text-transform: uppercase;
   font-family: 'Righteous-Regular';
}
p.para1{
  color: #464646;
  font-size: 14px;
  line-height: 2em;
}
.address-more,.address-left{
	float:left;
	width:40%;
}
.contact-grid {
  padding-left: 0;
}
.address-more p, .address-left p{
  color: #464646;
  font-size: 14px;
  line-height: 2em;
}
.address-left p a {
text-decoration:none;
  color: #464646;
}
.address-left p a:hover {
	color: #F896A9;
}
.more-address{
	padding:2em 0;
} 
.map iframe {
  width: 100%;
  height:400px;
  border: none;
}
.send input[type="submit"] {
  font-size: 1em;
  background: #242a2c;
  padding: 0.7em 2em;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  text-transform: uppercase;
  -webkit-appearance: none;
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  letter-spacing:1px;
}
.send input[type="submit"]:hover {
  background:#F896A9;
}
/*-- //contact-page --*/
/*-- services-page --*/
.ser-first-grid h3 {
   font-family: 'Righteous-Regular';
  margin: 26px 0 10px 0;
  color: #464646;
  font-size: 19px;
}
.ser-first-grid  p {
  margin: 0px 0 0 0;
  font-size: 14px;
  color: #464646;
  line-height: 2em;
  }
.ser-spa span {
  font-size: 33px;
  color: #fff;
  background:#F896A9;
  border-radius: 100%;
  padding: 25px 25px;
  text-align: center;
}
.services-info p{
margin:30px 0 0 0;
font-size:14px;
color:#737d84;
}

.services-left{
float:left;
width: 15%;

}
.services-right{
float:right;
width: 80%;
}
.services-left p{
  background: #000;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  padding: 12px ;
  margin: 0;
  font-weight:800;
  border-radius:60%;
  -webkit-border-radius:60%;
  -o-border-radius:60%;
  -ms-border-radius:60%;
  -moz-border-radius:60%;
}
.services-left p:hover{
  background: #F896A9;
  border-radius:0%;
  -webkit-border-radius:0%;
  -o-border-radius:0%;
  -ms-border-radius:0%;
  -moz-border-radius:0%;
transition: .5s all;
-webkit-transition: .5s all;
-o-transition: .5s all;
-ms-transition: .5s all;
-moz-transition: .5s all;
}
.services-right h3{
  margin: 0px 0 0 0;
  font-size: 19px;
  color: #F896A9;
  line-height: 1.5em;
   font-family: 'Righteous-Regular';
}
.services-right p{
  margin: 7px 0 0 0;
  font-size: 14px;
  color: #464646;
  line-height: 2em;
}
.services-grid:nth-child(4),.services-grid:nth-child(5),.services-grid:nth-child(6){
margin-top:50px;
}
.serv-list-info h3 span {
  color: #F896A9;
}
.services-list{
  background: url(../images/banner2.jpg) fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  min-height: 515px;
padding:80px 0 0 0;
}
.serv-list-info p{
  margin: 0px auto 23px auto;
  font-size: 14px;
  color: #E6E6E6;
  line-height: 2em;
  width: 75%;
  text-align: center;
}

.serv-list-grid ul{
margin:0;
padding:0;
}
.serv-list-grid ul li{
list-style-type:none;
line-height:2em;
}
.serv-list-grid ul li a{
  color: #e6e6e6;
  font-size: 14px;
  background: url(../images/icon3.png) no-repeat 0px 2px;
  padding-left: 30px;
}
.serv-list-grid ul li a:hover{
  padding-left: 38px;
 color: #F896A9;
}
h3.tittle.t-three {
  color: #F896A9;
}
/*-- //services-page --*/
/*-- gallery-page --*/
.view {
  width: 31.5%;
  height: 100%;
   margin: 10px;
   float: left;
   border: 10px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   cursor: default;
}
.view .mask,.view .content {
  width: 100%;
  height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view-seventh img {
   -webkit-transition: all 0.5s ease-out;
   -moz-transition: all 0.5s ease-out;
   -o-transition: all 0.5s ease-out;
   -ms-transition: all 0.5s ease-out;
   transition: all 0.5s ease-out;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   opacity: 1;
}
.view-seventh .mask {
   background-color:#F896A9;
   -webkit-transform: rotate(0deg) scale(1);
   -moz-transform: rotate(0deg) scale(1);
   -o-transform: rotate(0deg) scale(1);
   -ms-transform: rotate(0deg) scale(1);
   transform: rotate(0deg) scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   opacity: 0;
   -webkit-transition: all 0.9s ease-out;
   -moz-transition: all 0.9s ease-out;
   -o-transition: all 0.9s ease-out;
   -ms-transition: all 0.9s ease-out;
   transition: all 0.9s ease-out;
}
.view-seventh h2 {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-seventh p {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-seventh a.info {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-seventh:hover img {
   -webkit-transform: rotate(720deg) scale(0);
   -moz-transform: rotate(720deg) scale(0);
   -o-transform: rotate(720deg) scale(0);
   -ms-transform: rotate(720deg) scale(0);
   transform: rotate(720deg) scale(0);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   opacity: 0;
}
.view-seventh:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   opacity: 1;
   -webkit-transform: translateY(0px) rotate(0deg);
   -moz-transform: translateY(0px) rotate(0deg);
   -o-transform: translateY(0px) rotate(0deg);
   -ms-transform: translateY(0px) rotate(0deg);
   transform: translateY(0px) rotate(0deg);
   -webkit-transition-delay: 0.4s;
   -moz-transition-delay: 0.4s;
   -o-transition-delay: 0.4s;
   -ms-transition-delay: 0.4s;
   transition-delay: 0.4s;
}
.view-seventh:hover h2 {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.7s;
   -moz-transition-delay: 0.7s;
   -o-transition-delay: 0.7s;
   -ms-transition-delay: 0.7s;
   transition-delay: 0.7s;
}
.view-seventh:hover p {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.6s;
   -moz-transition-delay: 0.6s;
   -o-transition-delay: 0.6s;
   -ms-transition-delay: 0.6s;
   transition-delay: 0.6s;
}
.view-seventh:hover a.info {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.5s;
   -moz-transition-delay: 0.5s;
   -o-transition-delay: 0.5s;
   -ms-transition-delay: 0.5s;
   transition-delay: 0.5s;
}
.view h4 {
  text-transform: uppercase;
  color: #e6e6e6;
   font-family: 'Righteous-Regular';
  text-align: center;
  position: relative;
  font-size: 24px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 33px 0 25px 0;
}
.view p {
  font-style: italic; 
  font-size: 14px;
  line-height: 2em;
  position: relative;
  color: #fff;
  padding: 0px 20px 20px;
  text-align: center;
}
.view.view-seventh img {
  width: 100%;
}
/*-- //gallery-page --*/
/*-- about-page --*/
.about{
background:#fff;
}
.about-grid-left img{
width:100%;
}
.about-grid h3{
  font-size: 19px;
  margin: 0;
  color: #F896A9;
   font-family: 'Righteous-Regular';
}
.about-grid p{
  color: #464646;
  margin: 26px 0;
  font-size: 14px;
  line-height: 2em;
}
.about-grid p:nth-child(3) {
 margin:0;
}
.ad-mian {
	margin-top: 3%;
}
.ad-left {
	width: 10%;
	float: left;
}
.ad-left p {
	color: #fff;
	background: #F896A9;
	padding: 13px 0px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	text-align: center;
	font-size: 20px;
}
.ad-right {
	width: 84%;
	float: right;
}
.ad-right h4, .advn-two h4 {
line-height:1.5em;
text-transform:uppercase;
  font-size: 19px;
  margin: 0;
  color: #F896A9;
   font-family: 'Righteous-Regular';
}
.ad-right h4 a{
  color: #F896A9;
}
.ad-right p {
  color: #464646;
  font-size: 14px;
  line-height: 2em;
  margin-top: 8px;
}
.advn-two ul {
	padding: 0;
	margin-top: 3%;
}
.advn-two ul li {
  background: url(../images/icon3.png) no-repeat 0px 5px;
  line-height: 2em;
  list-style-type: none;
  padding-left: 30px;
  font-size:14px;
}
.advn-two p{
  color: #464646;
  font-size: 14px;
  line-height: 2em;
  margin-top: 8px;
}
.advn-two {
	margin-top: 7%;
}
.advn-two ul li a {
  color: #464646;
}
.advn-two ul li a:hover{
	  color: #F896A9;
      margin-left: 10px;
}
h3.tittle.t-four {
  text-align: left;
}
/* FIFTH EFFECTS */
.team .fifth-effect img {
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.team .fifth-effect .mask {
   cursor:pointer;
   opacity:1;
   visibility:visible;
   border:30px solid rgba(0, 0, 0, 0.36);
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   box-sizing:border-box;
   -moz-transition: all 0.4s cubic-bezier(0.940, 0.850, 0.100, 0.620);
   -webkit-transition: all 0.4s cubic-bezier(0.940, 0.850, 0.100, 0.620);
   -o-transition: all 0.4s cubic-bezier(0.940, 0.850, 0.100, 0.620);
   -ms-transition: all 0.4s cubic-bezier(0.940, 0.850, 0.100, 0.620);
   transition: all 0.4s cubic-bezier(0.940, 0.850, 0.100, 0.620);
}
.team .fifth-effect:hover .mask {
	border:0px double rgba(0,0,0,0.7);
	opacity:0;
	visibility:hidden;
}
.team .fifth-effect:hover img {
	opacity:1;
}
/* CSS3 STYLE GENERIC */
.team .view {
  margin: 0;
border:5px solid #fff;
     width:100%;
   height:100%;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
}
.team .view .mask,.team .view .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0px
}
.team .view img {
  width: 100%;
   display: block;
   position: relative;
}
.team .view.fifth-effect {
  padding-left: 0;
}
.team{
background: #F896A9;
}
/*-- //about-page --*/

/*-- responsive media queries --*/

	
	.banner-info {
	  margin-top: 140px;
	}
	.banner {
	  min-height: 640px;
	}
}
@media (max-width: 1024px){
.footer-grid form {
  background: #fff;
}
	.navigation ul li:nth-child(3) {
	  margin-right: 218px;
	}
	.navigation ul li a {
	  margin: 0px 18px;
	  }
	
	.banner.page-head {
	  min-height: 100px;
	}
	.welcome, .specials, .events-bottom, .blog-section, .typrography, .contact, .services, .ser-first, .facilities, .about, .advantages, .team {
	  padding: 60px 0;
	}
	h3.tittle {
	  margin-bottom: 30px;
	  font-size: 31px;
	  }
	.about-grid p,.ad-right p,.banner-info p,.admin-tag p,.advn-two p,.advn-two ul li,.footer-grid ul li,.copy-right p,.header-top-left p,.header-top-mid p,.ser-first-grid p,.serv-list-info p,.serv-list-grid ul li a,.services-right p,.blog-post p.erat,.text a,.welcome-head p,.special-right p,.special-left p,.services-bottom-grd-right p,.admin-tag1 p,p.est,.categories ul li a,.related-post-right p,.media-body p,.view p,p.para1,.address-more p, .address-left p,.contact-grid input[type="text"], .contact-grid textarea {
	  font-size: 13px;
	  }
	.footer-grid h2 {
	  font-size: 32px;
	  }
	.footer-grid input[type="email"] {
	  width: 78%;
	  }
	.services-right h3 {
	  font-size: 17px;
	  }
	.services-right {
	  float: right;
	  width: 84%;
	}
	.services-left p {
	  font-size: 17px;
	  padding: 5px;
	  }
	.services-left {
	  float: left;
	  width: 12%;
	}
	.admin-tag {
	  padding: 15px 15px;
	}
	.leave-a-comment input[type="text"], .leave-a-comment textarea {
	  font-size: 13px;
	  }
	.view h4 {
	  font-size: 20px;
	  padding: 8px;
	  margin: 26px 0 5px 0;
	}
	.view p {
	  padding: 0px 11px;
	  }
	.view {
	  margin: 8px;
	  }
	.banner-info {
	  width: 45%;
	  }
	.banner-info h3 {
	  font-size: 60px;
	  }
	.banner-info h4 {
	  margin: 16px 0;
	  font-size: 22px;
	}
	.banner-info p {
	  margin-bottom: 22px;
	}
	.banner-info a {
	  padding: 6px 11px;
	  font-size: 15px;
	}
	.banner {
	  min-height: 495px;
	}
	.banner-info {
	  margin-top: 85px;
	}
	.callbacks_tabs {
	  top: 106%;
	  left: 54%;
	  }
	.welcome-head h4 ,.special-right h4,.services-bottom-grd-right h4,.time-service p{
	  font-size: 19px;
	  }
	.special-right p {
	  margin: 13px 0 0px 0;
	  }
	.special-left, .special-right, .special-left img {
	  min-height: 205px;
	  }
	.special-right {
	  padding: 17px 25px 0 25px;
	}
	.special-left h4 {
	  font-size: 25px;
	  }
	figure.effect-bubba h4 {
	  padding-top: 3%;
	  }
	.services-bottom-grd-right p {
	  margin: 6px 0 0px 0;
	  }
	.events-right-gds:nth-child(2) {
	  margin: 23px 0;
	}
	.footer-grid h4 {
	  font-size: 19px;
	  }
	.about-grid p {
	  margin: 19px 0;
	  }
	.ad-left p {
	  padding: 8px 0px;
	  }
	.ser-first-grid h3 {
	  font-size: 17px;
	}
	.about-grid h3 ,.ad-right h4, .advn-two h4{
	  font-size: 18px;
	  }
	.services-list {
	  min-height: 455px;
	  padding: 60px 0 0 0;
	}
	.text {
	  top: 34.5%;
	  }
	.blog-post p.erat {
	  padding: 4px 0 10px;
	}
	.blog-post-grids {
	  padding: 0 10px;
	}
	.ser-spa span {
	  font-size: 30px;
	  padding: 19px 19px;
	  }
	.blog-pagenat ul li a {
	  padding: 4px 10px;
	  font-size: 14px;
	  }
	.search11 h3 {
	  font-size: 18px;
	  }
	.categories h3, .search h3, .related-posts h3, .leave-a-comment h3, .sing-img-text h3 {
	  font-size: 18px;
	  }
	.categories ul li {
	  background: url(../images/icon3.png) no-repeat 0px 11px;
	  }
	.categories-mid {
	  margin: 2em 0;
	}
	.search11 input[type="submit"] {
	  font-size: 16px;
	  }
	.related-post-right h4 a {
	  font-size: 16px;
	  }
	.media-body h4 {
	  font-size: 17px;
	  margin: 0px 0 8px;
	  }
	.leave-a-comment input[type="submit"] {
	  font-size: 16px;
	  }
	.contact-in h4{
	  font-size: 18px;
	  }
	.more-address {
	  padding: 1.5em 0;
	}
	p.your-para {
	  font-size: 15px;
	  }
	.send input[type="submit"] {
	  font-size: 16px;
	  padding: 7px 19px;
	  }
	.map iframe {
	  height: 300px;
	  border: none;
	}

}
@media (max-width: 800px){
	.serv-list-info p {
	  width: 83%;
	  }
	span.menu {
    display: block;
    cursor: pointer;
	position: relative;
	text-align: right;
	float: right;
	}
	ul.nav1{
		display:none;
		background:#f2f2f2;
		}
	.navigation ul.nav1 li {
		display: inline-block;
		text-align: center;
	    margin: 9px 0;
		width: 100%;
		padding: 0px 0;
		}
	.navigation ul {
	  position: absolute;
	  padding: 0;
	  margin: 0;
	  top: 102px;
	  left: 0;
	  width: 100%;
	  z-index: 9999;
	  width: 100%;
	}
	
	.header-top-left {
	  float: left;
	  width: 34%;
	}
	.header-top-mid {
	  width: 35%;
	  }
	
	
	.banner-info {
	  width: 49%;
	  margin-top: 70px;
	}
	.banner-info h4 {
	  margin: 11px 0;
	  font-size: 18px;
	}
	.about-grid p, .ad-right p, .banner-info p, .admin-tag p, .advn-two p, .advn-two ul li, .footer-grid ul li, .copy-right p, .header-top-left p, .header-top-mid p, .ser-first-grid p, .serv-list-info p, .serv-list-grid ul li a, .services-right p, .blog-post p.erat, .text a, .welcome-head p, .special-right p, .special-left p, .services-bottom-grd-right p, .admin-tag1 p, p.est, .categories ul li a, .related-post-right p, .media-body p, .view p, p.para1, .address-more p, .address-left p, .contact-grid input[type="text"], .contact-grid textarea {
	  line-height: 1.8em;
	}
	.banner-info h3 {
	  font-size: 48px;
	}
	.banner-info p {
	  margin-bottom: 12px;
	}
	.callbacks_tabs {
	  left: 49%;
	}
	.banner {
	  min-height: 419px;
	}
	h3.tittle {
	  margin-bottom: 25px;
	  font-size: 27px;
	}
	.welcome-head h4 {
	  margin-top: 22px;
	}
	.welcome-head p {
	  margin: 13px 0 0px 0;
	  }
	.welcome, .specials, .events-bottom, .blog-section, .typrography, .contact, .services, .ser-first, .facilities, .about, .advantages, .team {
	  padding: 50px 0;
	}
	.special-left {
	  float: left;
	  width: 50%;
	}
	.special-right {
	  float: left;
	  width: 50%;
	}
	.welcome-head h4, .special-right h4, .services-bottom-grd-right h4, .time-service p {
	  font-size: 17px;
	}
	.special-right p {
	  margin: 4px 0 0px 0;
	}
	.special-right {
	  padding: 17px 20px 0 20px;
	}
	.special-left p {
	  margin: 13px 0 0px 0;
	  }
	.events-right {
	  padding: 0 10px;
	  float: left;
	  width: 50%;
	}
	.events-left {
	  padding: 0 10px;
	  float: left;
	  width: 50%;
	}
	.time-service p {
	  font-size: 15px !important;
	}
	.services-bottom-grd-right {
	  float: right;
	  width: 77%;
	}

	.events-right-gds:nth-child(2) {
	  margin: 16px 0;
	}
	.services-bottom-grd-right h4{
	font-size:15px;
	}
	.footer-grid {
	  float: left;
	  width: 25%;
	  padding:0 10px;
	}
	.footer-grid h2 {
	  font-size: 24px;
	}
	.footer-grid input[type="email"] {
	  width: 72%;
	}
	.footer-grid input[type="email"] {
	  padding: 8px 5px 7px 5px;
	  }
	.footer-grid form input[type="submit"] {
	  background: url(../images/message.png) no-repeat 5px 7px #ffffff;
	  width: 44px;
	  height: 33px;
	  }
	.footer-grid ul li{
	  font-size: 11px;
	}
	.footer {
	  padding: 35px 0;
	}
	.about-grid-left {
	  float: left;
	  width: 42%;
	}
	.view-grid {
	  float: left;
	  width: 25%;
	  padding: 0 10px;
	}
	.advantages-left {
	  float: left;
	  width: 50%;
	  padding: 0 10px;
	}
	.ad-left p {
	  padding: 4px 0px;
	}
	.about-grid h3, .ad-right h4, .advn-two h4 {
	  font-size: 17px;
	}
	.ser-first-grid{
	  float: left;
	  width: 25%;
	  padding: 0 10px;
	}
	.ser-first-grid h3 {
	  font-size: 16px;
	}
	.ser-spa span {
	  font-size: 22px;
	  padding: 15px 15px;
	}
	.services-list {
	  min-height: 455px;
	  padding: 50px 0 0 0;
	}
	.serv-list-grid {
	  float: left;
	  width: 33.3333%;
	  padding: 0 10px;
	}
	.serv-list-grid ul li a {
	  padding-left: 20px;
	}
	.serv-list-grid ul li a:hover {
	  padding-left: 23px;
	}
	.services-grid {
	  float: left;
	  width: 50%;
	}
	.services-grid:nth-child(4), .services-grid:nth-child(5), .services-grid:nth-child(6) ,.services-grid:nth-child(3){
	  margin-top: 30px;
	}
	.services-list {
	  min-height: 415px;
	  }
	.services-left p {
	  padding: 7px;
	}
	.blog-post-grids {
	  padding: 0;
	  width: 100%;
	}
	.blog-post {
	  float: left;
	  width: 48%;
	  margin: 0 1% 2% 1% !important;
	}
	.text {
	  top: 42.5%;
	}
	.blog-pagenat {
	  margin-top: 1em;
	}
	.view {
	  margin: 5px;
	  border: 7px solid #fff;
	  width: 31.9%;
	  }
	.view h4 {
	  font-size: 17px;
	  padding: 4px;
	  margin: 6px 0 5px 0;
	}
	.contact-grid {
	  width: 50%;
	  float: left;
	}
	.address-more, .address-left {
	  float: left;
	  width: 47%;
	}
	.more-address {
	  padding: 11px 0 0 0;
	}
	.contact-in {
	  float: left;
	  width: 50%;
	}
	.map iframe {
	  height: 245px;
	  }
	.contact-in {
	  padding-right: 0;
	}
	.related-post-right h4 a {
	  font-size: 15px;
	}
	.navigation ul li a {
	  margin: 0px 0px;
	}
	.footer-grid h4 {
  margin: 0 0 20px 0;
  }
	.related-post-right {
	  float: right;
	  width: 67%;
	}
}
@media (max-width: 736px){
.special-right {
  padding: 13px 16px 0 16px;
}
	.footer-grid {
	  float: left;
	  width: 25%;
	  padding: 0 6px;
	}
}
@media (max-width: 667px){
	.header-top-left {
	  float: left;
	  width: 38%;
	}
	.services-bottom-grd-left {
	  position: relative;
	  float: left;
	  width: 22%;
	}
}
@media (max-width: 640px){

	.header-top-left {
	  float: left;
	  width: 40%;
	}
	.header-top-mid {
	  width: 38%;
	}
	.banner-info h3 {
	  font-size: 38px;
	}
	.banner-info h4 {
	  margin: 8px 0;
	  font-size: 16px;
	}
	.banner-info a {
	  padding: 4px 7px;
	  font-size: 14px;
	}
	.callbacks_tabs a:after {
	  width: 53px;
	  height: 5px;
	  }
	.callbacks_tabs {
	  top: 103%;
	  }
	.banner-info {
	  margin-top: 55px;
	}
	.banner {
	  min-height: 370px;
	}
	.wel-img {
	  width: 72%;
	  }
	.special-right {
	  padding: 6px 12px 0 12px;
	}
	.events-right {
	  width: 100%;
	}
	.l-grids figure figcaption {
	  padding: 1.2em;
	  }
	.special-left h4 {
	  font-size: 20px;
	}
	figure.effect-bubba h4 {
	  padding-top: 6%;
	}
	.services-bottom-grd-right h4 {
	  font-size: 16px;
	}
	.events-right-gds:nth-child(2) {
	  margin: 26px 0;
	}
	.time-service p {
	  font-size: 17px !important;
	}
	.services-bottom-grd-left {
	  width: 17%;
	}
	.time-service {
	  position: absolute;
	  top: 47%;
	  left: 17%;
	}
	.events-right {
	  padding: 0;
	  }
	.events-left {
	  padding: 0;
	  float: left;
	  width: 100%;
	}
	.events-left img {
	  width: 62%;
	}
	.footer-grid {
	  float: left;
	  width: 50%;
	  }
	
	.navigation ul.nav1 li {
	  margin: 8px 0;
	  }
	.navigation ul li a {
	  padding: 0 0 6px 0;
	  }
	.navigation ul {
	  top: 82px;
	  }
	.footer-grid h4 {
	  margin: 0 0 18px 0;
	  }
	.footer-grid:nth-child(2) {
	  min-height: 130px;
	}
	.footer-grid:nth-child(3), .footer-grid:nth-child(4) {
	  margin-top: 30px;
	}
	.about-grid p {
	  margin: 12px 0;
	}
	.team .fifth-effect .mask {
	  border: 12px solid rgba(0, 0, 0, 0.36);
	  }
	.team .view {
	  border: 4px solid #fff;
	  }
	.view-grid {
	  padding: 0 5px;
	}
	.about-grid-left {
	  float: left;
	  width: 46%;
	  padding: 0 5px;
	}
	.about-grid {
	  padding: 0 5px;
	}
	.ad-right {
	  width: 85%;
	  }
	.ad-left p {
	  font-size: 15px;
	}
	h3.tittle {
	  margin-bottom: 25px;
	  font-size: 23px;
	}
	.about-grid h3, .ad-right h4, .advn-two h4 {
	  font-size: 16px;
	}
	.welcome-head h4, .special-right h4, .services-bottom-grd-right h4, .time-service p {
	  font-size: 16px;
	}
	.admin-tag {
	  padding: 10px 9px;
	}
	.text a {
	  padding: 6px 10px;
	  }
	.text {
	  top: 36.5%;
	}
	.sing-img-text {
	  float: left;
	  width: 100%;
	}
	.sing-img-text-left {
	  float: right;
	  width: 100%;
	}
	.categories h3, .search h3, .related-posts h3, .leave-a-comment h3, .sing-img-text h3 {
	  font-size: 17px;
	}
	.media-body a {
	  margin-top: 10px;
	}
	p.est {
	  margin: 17px 0 40px;
	  }
	.search11 input[type="submit"] {
	  padding: 6px 13px;
	  font-size: 14px;
	}
	.related-post-right h4 a {
	  font-size: 15px;
	}
	.related-post-left {
	  float: left;
	  width: 41%;
	}
	.related-post-right {
	  float: right;
	  width: 56%;
	}
	.related-post {
	  float: left;
	  width: 50%;
	}
	.related-post:nth-child(5) ,.related-post:nth-child(4){
	  margin-top: 0;
	}
	.leave-a-comment {
	  padding: 0;
	}
	.leave-a-comment input[type="text"], .leave-a-comment textarea {
	  padding: 7px 8px;
	  }
	.leave-a-comment textarea {
	  margin: 15px 0;
	  }
	.leave-a-comment textarea {
	  height: 145px;
	  }
	.leave-a-comment input[type="submit"] {
	  font-size: 14px;
	}
	.leave-a-comment input[type="submit"] {
	  padding: 7px 10px;
	  }
	.view {
	  width: 48.2%;
	}
	.view h4 {
	  font-size: 17px;
	  padding: 8px;
	  margin: 23px 0 17px 0;
	}
	.contact-grid {
	  width: 100%;
	  float: left;
	  padding: 0;
	}
	.contact-grid input[type="text"], .contact-grid textarea {
	  width: 100%;
	  padding: 5px 8px;
	  margin: 0 0 16px 0;
	  }
	.contact-grid textarea {
	  min-height: 150px;
	}
	.send input[type="submit"] {
	  font-size: 14px;
	  padding: 7px 16px;
	}
	.contact-in {
	  padding: 0;
	  width: 100%;
	  margin-top: 30px;
	}
	.contact-in h4{
	  font-size: 17px;
	}
	.map iframe {
	  height: 230px;
	}
	.footer-grid ul li {
	  font-size: 13px;
	}
	.ser-first-grid {
	  float: left;
	  width: 50%;
	  padding: 0 10px;
	}
	.ser-first-grid:nth-child(3),.ser-first-grid:nth-child(4){
	margin-top:30px;
	}
	.serv-list-grid {
	  padding: 0 5px;
	}
	.serv-list-info p {
	  width: 100%;
	  }
	.services-right h3 {
	  font-size: 16px;
	}
	.services-grid {
	  padding: 0 10px;
	}
	.services-left p {
	  padding: 5px;
	}
		.footer-grid input[type="email"] {
	  width: 83%;
	}
}
@media (max-width: 600px){
	.header-top-left {
	  float: left;
	  width: 42%;
	}
	.header-top-mid {
	  width: 34%;
	}
	.special-right {
	  padding: 6px 5px 0 5px;
	}
}
@media (max-width: 568px){
	.special-left, .special-right, .special-left img {
	  min-height: 223px;
	}
	.header-top-left {
	  float: left;
	  width: 45%;
	}
	.header-top-mid {
	  width: 38%;
	}
	.header-top-right {
	  float: right;
	  width: 100%;
	  text-align: center;
	}
}
@media (max-width: 480px){
	.header-top-left {
	  float: left;
	  width: 55%;
	}
	.header-top-mid {
	  text-align: right;
	  width: 45%;
	}
	.header-top-mid p {
	  margin-left: 4px;
	}
	.header-top-right {
	  float: right;
	  width: 100%;
	  text-align: center;
	  margin-top: 15px;
	}
	.banner.page-head {
	  min-height: 65px;
	}
	
	.welcome, .specials, .events-bottom, .blog-section, .typrography, .contact, .services, .ser-first, .facilities, .about, .advantages, .team {
	  padding: 45px 0;
	}
	.contact-form {
	  margin-bottom: 2em;
	  }
	.map iframe {
	  height: 210px;
	}
	.footer-grid:nth-child(3), .footer-grid:nth-child(4) {
	  margin-top: 25px;
	}
	.banner-info {
	  width: 100%;
	  }
	.banner-info h3 {
	  font-size: 35px;
	}
	.callbacks_tabs a:after {
	  width: 40px;
	  height: 4px;
	}
	.callbacks_tabs {
	  left: 30%;
	  top: 101%;
	}
	.banner-info {
	  margin-top: 42px;
	}
	.banner {
	  min-height: 320px;
	}
	.wel-img {
	  width: 78%;
	}
	.special-left {
	  float: left;
	  width: 100%;
	}
	.special-right {
	  float: left;
	  width: 100%;
	}
	.special-right.l-left {
	  margin-top: 5px;
	}
	.special-right {
	  padding: 13px 20px 0 20px;
	}
	.special-left, .special-right, .special-left img {
	  min-height: 170px;
	}
	.services-bottom-grd-left {
	  width: 19%;
	}
	.time-service {
	  position: absolute;
	  top: 44%;
	  left: 14%;
	}
	.events-left img {
	  width: 68%;
	}
	.navigation ul {
	  top: 68px;
	}
	.about-grid-left {
	  float: left;
	  width: 100%;
	  padding: 0;
	}
	.about-grid {
	  padding: 0;
	  float: left;
	  width: 100%;
	  margin-top: 30px;
	}
	.view-grid {
	  padding: 8px;
	}
	.view-grid {
	  float: left;
	  width: 50%;
	  }
	.team .fifth-effect .mask {
	  border: 18px solid rgba(0, 0, 0, 0.36);
	}
	.advantages-left {
	  float: left;
	  width: 100%;
	  padding: 0;
	}
	.ad-left p {
	  padding: 10px 0px;
	}
	.advantages-left:nth-child(2) {
	  margin-top: 30px;
	}
	.serv-list-grid {
	  float: left;
	  width: 50%;
	  }
	.serv-list-grid:nth-child(3) {
	  margin-top: 20px;
	}
	.services-list {
	  min-height: 640px;
	}
	.services-grid {
	  float: left;
	  width: 100%;
	}
	.services-grid:nth-child(4), .services-grid:nth-child(5), .services-grid:nth-child(6), .services-grid:nth-child(3),.services-grid:nth-child(2) {
	  margin-top: 20px;
	}
	.services-left p {
	  padding: 12px;
	}
	.services-left {
	  float: left;
	  width: 10%;
	}
	.services-left p {
	  padding: 8px;
	}
	.blog-post {
	  float: left;
	  width: 100%;
	  margin: 0 0 25px 0!important;
	}
	a.button-more {
	  padding: 4px 10px;
	  }
	.text {
	  top: 53.7%;
	}
	.blog-pagenat {
	  margin-top: 0em;
	}
	.related-post {
	  float: left;
	  width: 100%;
	}
	.related-post{
	margin-top:30px !important;
	}
	.related-post:nth-child(5), .related-post:nth-child(4), .related-post:nth-child(3) {
	  margin-top: 0 !important;
	}
	.leave-a-comment input[type="text"] {
	  width: 100%;
	  }
	.leave-a-comment input[type="text"]:nth-child(2) {
	  margin: 18px 0;
	}
	.leave-a-comment textarea {
	  height: 125px;
	}
	.view {
	  width: 47.5%;
	}
	.view p {
	  line-height: 1.6em;
	  padding: 0px 2px;
	}
	.view h4 {
	  font-size: 17px;
	  padding: 4px;
	  margin: 6px 0 2px 0;
	}
	.contact-grid textarea {
	  min-height: 125px;
	}
.footer-grid input[type="email"] {
  width: 77%;
}
}

	.header-top-left {
	  text-align: center;
	  float: left;
	  width: 100%;
	}
	.header-top-mid {
	  margin-top: 15px;
	  text-align: center;
	  width: 100%;
	}
	.special-left, .special-right, .special-left img {
	  min-height: 193px;
	}
	.time-service {
	  position: absolute;
	  top: 41%;
	  left: 8%;
	}
	.footer-grid:nth-child(2) {
	  min-height: 153px;
	}
}
@media (max-width: 384px){
	.time-service {
	  position: absolute;
	  top: 41%;
	  left: 5%;
	}
	.footer-grid {
	  padding: 0 3px;
	}
}
@media (max-width: 375px){
	.time-service {
	  left: 3%;
	}
}
@media (max-width: 320px){
	.header-top-mid {
	  margin-top: 2px;
	  }
	.header-top-right {
	  margin-top: 3px;
	}
	
	.banner-info h3 {
	  font-size: 30px;
	}
	.banner-info {
	  margin-top: 22px;
	}
	.callbacks_tabs {
	  left: 19%;
	  top: 98%;
	}
	.banner-info a {
	  padding: 2px 4px;
	  font-size: 13px;
	}
	.banner-info p {
	  margin-bottom: 5px;
	}
	.banner-info h4 {
	  margin: 6px 0;
	  }
	.banner {
	  min-height: 294px;
	}
	.wel-img {
	  width: 100%;
	}
	.welcome-head h4 {
	  line-height: 1.5em;
	  }
	.welcome-head h4 {
	  margin-top: 10px;
	}
	.navigation ul.nav1 li {
	  margin: 6px 0;
	}
	h3.tittle {
	  margin-bottom: 18px;
	  font-size: 22px;
	}
	.special-left p {
	  margin: 3px 0 0px 0;
	}
	.welcome-head p {
	  margin: 6px 0 0px 0;
	}
	.special-right {
	  padding: 7px 11px 7px 11px;
	}
	.services-bottom-grd-left {
	  width: 22%;
	}
	.time-service p {
	  font-size: 14px !important;
	}
	.time-service {
	  left: 8%;
	}
	.services-bottom-grd-right {
	  float: right;
	  width: 74%;
	}
	.services-bottom-grd-right p {
	  margin: 3px 0 0px 0;
	}
	.events-right-gds:nth-child(2) {
	  margin: 13px 0;
	}
	.events-left img {
	  width: 80%;
	}
	.footer-grid {
	  padding: 0;
	  width: 100%;
	}
	.footer-grid:nth-child(2) {
	  min-height: 74px;
	}
	.footer-grid:nth-child(3), .footer-grid:nth-child(4), .footer-grid:nth-child(2) {
	  margin-top: 25px;
	}
	.footer-grid h3 {
	  margin: 0px 0 0px 0;
	  }
	.copy-right {
	  padding: 10px 0;
	}
	.view-grid {
	  padding: 4px;
	}
	.ad-left p {
	  padding: 3px 0px;
	}
	.ad-mian {
	  margin-top: 5%;
	}
	.ser-first-grid {
	  float: left;
	  width: 100%;
	  padding: 0;
	}
	.ser-first-grid h3 {
	  margin: 19px 0 6px 0;
	  }
	.ser-first-grid:nth-child(3), .ser-first-grid:nth-child(4), .ser-first-grid:nth-child(2) {
	  margin-top: 30px;
	}
	.serv-list-grid {
	  float: left;
	  width: 100%;
	}
	.serv-list-grid:nth-child(3), .serv-list-grid:nth-child(2) {
	  margin-top: 12px;
	}
	.serv-list-info p {
	  margin: 0px auto 12px auto;
	  }
	.services-list {
	  min-height: 855px;
	}
	.services-left {
	  float: left;
	  width: 15%;
	}
	.services-grid {
	  padding: 0;
	}
	.services-right {
	  float: right;
	  width: 82%;
	}
	.services-right p {
	  margin: 3px 0 0 0;
	  }
	.text a {
	  padding: 4px 4px;
	}
	a.button-more {
	  padding: 3px 5px;
	}
	.text {
	  top: 34.5%;
	}
	.banner.page-head {
	  min-height: 55px;
	}
	.blog-pagenat ul li a {
	  padding: 2px 8px;
	  }
	.categories h3, .search h3, .related-posts h3, .leave-a-comment h3{
	  padding-bottom: 9px;
	}
	.sing-img-text h3 {
	 padding-bottom: 12px;
	}
	p.est {
	  margin: 5px 0 40px;
	}
	.search11 input[type="text"] {
	  padding: 7px;
	}
	.related-post-right {
	  float: right;
	  width: 57%;
	}
	.related-post-left {
	  float: left;
	  width: 40%;
	}
	.related-post {
	  margin: 25px 0 !important;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	  padding: 10px!important;
	}
	.nav > li > a {
	  padding: 3px 9px;
	}
	.view {
	  width: 100%;
	  margin: 0 0 6% 0;
	}
	.view h4 {
	  font-size: 17px;
	  padding: 10px;
	  margin: 21px 0 14px 0;
	}
	.map iframe {
	  height: 165px;
	}
	.footer-grid h4 {
	  margin: 0 0 11px 0;
	}
	.footer-grid:nth-child(3), .footer-grid:nth-child(4), .footer-grid:nth-child(2) {
	  margin-top: 18px;
	}
	.footer-grid input[type="email"] {
		  width: 83%;
		}
	.ad-right h4{
	  font-size: 15px;
	}
	.footer-grid h2 {
  margin: 13px 0 0px 0;
  }
	.services-right h3 {
	  font-size: 15px;
	}
}
/*-- //responsive media queries --*/