@charset "utf-8";
.help_tip { background-color:#f7f7f7; height:35px; line-height:35px;}
.help_tip_box{ width:1200px; margin:0 auto;}
.help_main{ width:1200px; margin:10px auto; color:#666;}
.main_left{ width:220px; float: left; border:1px solid #ddd;}
.main_left dd a.hover{ color:#0085d0; font-weight:bold}
.main_left dl dt{ text-align:center; font-size:16px; font-weight:bold; height:35px; line-height:35px; border-bottom:1px solid #ddd; background-color:#f7f7f7;}
.main_left dl dd{ text-align:center; font-size:14px;  height:40px; line-height:40px; border-bottom:1px solid #ddd;}
.c0085d0 a{ color:#0085d0; font-weight:bold}
.main_right{ width:969px; float:right; overflow:hidden; border:1px solid #ddd;}
.main_right_t {font-size:16px; font-weight:bold; height:35px; line-height:35px;background-color:#f7f7f7; border-bottom:1px solid #ddd; text-indent:20px;}

.main_right_c{ overflow:hidden; padding:20px;}
.main_right_c_t{ border-bottom:2px solid #ddd; font-size:16px; height:40px; line-height:40px; }
.main_right_c_t ul li{ float:left; width:160px; text-align:center;position:relative; cursor:pointer}
.main_right_c_t ul li.hover{ background:url(images/help1.gif) no-repeat center bottom; color:#0085d0  }
.main_right_c_t ul li.hover s{ height:2px; line-height:0; font-size:0; background-color:#0085d0; position:absolute; top:40px; left:0; z-index:2; width:160px; }


.main_right_c_c p{ margin-top:20px;}
.wd_centtb{border-left:1px solid #dfdfdf;border-top:1px solid #dfdfdf;}
.wd_centtb th{border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;padding:10px; background:#f2f2f2; text-align:center;}
.wd_centtb td{border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;padding:10px;text-align:center;}


.wd_title{overflow:hidden;margin-top:15px;}
.wd_title ul{padding:0;margin:0 auto;}
.wd_title li{height:24px;line-height:24px;background:url(images/p_sjpxli.gif) repeat-x;border:1px solid #bdbcbd;color:#525252;float:left;margin-right:10px;text-align:center;margin-bottom:5px;cursor:pointer;width:56px;}
.wd_title li.hover{color:#fff; background:#0085d0;border:1px solid #0085d0;}


.num_cgbox{width:880px;border:1px solid #dddddd;padding:10px;background:#f8f8f8;margin:10px auto;height:175px;}
.num_succtitle{height:30px;line-height:30px;background:url(images/num_tctab.gif) 0px -36px no-repeat;width:880px; border-bottom:#D0E8FF solid 1px;}
.num_cgbox p{line-height:25px;}